* {
  margin: 0;
  padding: 0;
}
.iphonegold {
  width: 1920px;
  height: 692px;
}
.iphonepurple {
  width: 1920px;
  height: 692px;
}
.giftmagic {
  width: 1920px;
  height: 692px;
}
.airpad {
  width: 942px;
  height: 580px;
}

.airpod {
  width: 942px;
  height: 580px;
}
